<form [formGroup]="userForm" style="width: 35%;"
    class="form-control d-flex flex-column align-items-center p-3 mx-auto my-5  shadow" (submit)="FormHandle()">
    <h3 class="text-muted text-center m-5">Log in</h3>
    <div class="mb-3 w-75">
        <label for="email" class="form-label fw-bold mx-1">Email</label>
        <input type="text" pInputText class="form-control rounded-3" id="email" name="email" formControlName="email">
        @if (getEmail.touched) {
        @if(getEmail.hasError('required')){
        <span class="text text-danger">Email is required</span>
        }@else if (getEmail.hasError('email')) {
        <span class="text text-danger">Invalid Email</span>
        }
        }
    </div>
    <div class="mb-3 w-75">
        <label for="password" class="form-label fw-bold mx-1">Password</label>
        <input type="password" class="form-control rounded-3" id="password" name="password" formControlName="password">
        @if (getPassword.touched) {
        @if(getPassword.hasError('required')){
        <span class="text text-danger">Password is required</span>
        }
        }
    </div>
    <div class="my-2 w-75 d-flex  justify-content-center gap-3">
        <button type="submit" class="btn btn-success  w-25" [style]="{'background-color':'#3b5d50'}">Log in</button>
    </div>
</form>